<div class="container chatroom glass-morph-card"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
  data-chatroom-subscription-current-user-avatar-url-value="<%= current_user.avatar_url %>"
  data-chatroom-subscription-partner-avatar-url-value="<%= @partner.avatar_url %>">

  <!-- <%= @chatroom.name %> -->
  <div class="chatroom-board">
    <h1 class="chatroom-name">Adventurers Lounge</h1>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% current_date = @chatroom.messages.first.created_at.to_date unless @chatroom.messages.empty?%>
    <% @chatroom.messages.order(:created_at).each_with_index do |message, index| %>
      <% if index.zero? %><!-- Display common header for the day -->
        <p class="common-header text-center">
          <%= current_date.strftime("%B %e") %>
        </p>
      <% elsif current_date > message.created_at.to_date%>
        <% current_date = message.created_at.to_date %>
        <p class="common-header text-center">
          <%= message.created_at.strftime("%B %e") %>
        </p>
      <% end %>

      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <% if message.sender?(current_user) %>

          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
          <%= image_tag message.user.avatar_url, style:"width: 30px; height: 30px; border-radius: 50%; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); margin-left: 10px;", class:"bg-light" %>

        <% else %>

          <%= image_tag message.user.avatar_url, style:"width: 30px; height: 30px; border-radius: 50%; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); margin-right: 10px;", class:"bg-light" %>
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        <% end %>

      </div>

    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: {chatroom_subscription_target: 'form',
                  action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "e.g. You make me smile!",
      wrapper_html: { class: "flex-grow-1 mb-0" },
      input_html: { style: "width: 98%; resize:none;", rows: 1, wrap: 'hard',
      data: {action: 'keydown->chatroom-subscription#sendMessage'}, chatroom_subscription_target: 'input' } %>
    <%= image_submit_tag("message-send.png", alt: "Send", class: "send-wings") %>
  <% end %>

</div>
