<div class="h-100 row justify-content-center align-items-end">
  <div class="box col-10 p-3 glass-morph-card">
    <h3 class="ps-1 pt-3 pb-2 text-center fw-bold">Complete your profile</h3>
    <div class="container" data-controller= "toggle">
      <%= simple_form_for @user, url: update_profile_path do |f| %>
        <!-- Personal information -->
        <div class="container" data-toggle-target="toggleableElem">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "e.g: John" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "e.g: Doe" }%>
          <%= f.input :nickname,
                      input_html: { placeholder: 'e.g: Babe' }%>
          <%= f.input :gender,
                      collection: ['Male', 'Female', 'I prefer not to say'],
                      prompt: 'Choose your gender',
                      required: true %>
          <%= f.input :date_of_birth,
                      html5: true,
                      input_html: { max: Time.current - 16.years } %>
          <div class="d-flex justify-content-end me-1" >
            <button class="btn btn-outline-dark fw-semibold mt-2"
              data-action="click->toggle#toggleElems">Next >></button>
          </div>
        </div>

        <!-- Avatars -->
        <div class=" container px-1 py-3 d-none" data-toggle-target="toggleableElem" id="avatars-container">
          <h4 class="ps-1 pt-3 pb-2 text-center">Choose your avatar</h4>

          <% names_1 = ["Ivan", "Ana", "Ahmed", "André", "Smokey", "Jasper", "Sheba", "Flower", "Peanut", "Trouble", "Simon", "Cuddles", "Lucky", "Bear", "Trump", "George", "Joe Bi", "Luna", "Cami", "Maggie"] %>
          <% names_2 = ["Bandit", "Jimmy", "Be", "B", "Smokey", "Sheba", "Iter", "adada", "Dusty", "Oliver", "Loki", "Shadow", "Garfield", "Sugar", "Socks", "Daisy", "Harley", "Pumpkin", "Hello", "Snowball"] %>
          <% names_3 = ["Sophie", "Lilly", "Buddy", "Bear", "Simon", "Chester", "Cuddles", "Toby", "Bubba", "Oscar", "Salem", "Sammy", "Bailey", "Princess", "Cali", "Fluffy", "Snickers", "Lola", "Pepper", "Tinkerbell"] %>
          <% names_4 = ["Garfield", "Cookie", "Baby", "Daisy", "Sam", "dadef", "Milo", "Oreo", "Lola", "Precious", "Buddy", "Fluffy", "Salem", "Jasper", "Sophie", "Trouble", "Scooter", "Sassy", "Max", "Lilly"] %>

          <div class=" scrollable-content row justify-content-center" style="height: 350px;">
            <% names_1.each do |name| %>
              <%= image_tag "https://api.dicebear.com/8.x/avataaars/svg?seed=#{name}&accessoriesProbability=50&eyebrows=raisedExcited&eyes=squint,wink,winkWacky&mouth=smile&topProbability=80", alt: "text", class: "col-5 avatar-hover m-1", data: {toggle_target: "imgElem", action: "click->toggle#selectAvatar"}, style:"cursor:pointer; width: 95px; height: 95px;" %>
            <% end %>
            <% names_2.each do |name| %>
              <%= image_tag "https://api.dicebear.com/8.x/avataaars/svg?seed=#{name}&eyes=closed,cry,default,eyeRoll,happy,hearts,side,squint,surprised,wink,winkWacky&mouth=concerned,default,disbelief,grimace,sad,serious,smile,tongue,twinkle", alt: "text", class: "col-5 avatar-hover m-1", data: {toggle_target: "imgElem", action: "click->toggle#selectAvatar"}, style:"cursor:pointer; width: 95px; height: 95px;" %>
            <% end %>
            <% names_3.each do |name| %>
              <%= image_tag "https://api.dicebear.com/8.x/avataaars/svg?seed=#{name}&eyebrows=default,defaultNatural,flatNatural,frownNatural,raisedExcited,raisedExcitedNatural,unibrowNatural,upDown,upDownNatural&eyes=closed,default,eyeRoll,happy,hearts,side,squint,surprised,wink,winkWacky&mouth=serious,smile,tongue,twinkle,eating,default", alt: "text", class: "col-5 avatar-hover m-1", data: {toggle_target: "imgElem", action: "click->toggle#selectAvatar"}, style:"cursor:pointer; width: 95px; height: 95px;" %>
            <% end %>
            <% names_4.each do |name| %>
              <%= image_tag "https://api.dicebear.com/8.x/avataaars/svg?seed=#{name}&eyebrows=default,defaultNatural,flatNatural,frownNatural,raisedExcited,raisedExcitedNatural,unibrowNatural,upDown,upDownNatural&eyes=cry,default,happy,hearts,side,squint,surprised,wink,winkWacky&mouth=concerned,default,disbelief,eating,serious,smile,tongue,twinkle,grimace", alt: "text", class: "col-5 avatar-hover m-1", data: {toggle_target: "imgElem", action: "click->toggle#selectAvatar"}, style:"cursor:pointer; width: 95px; height: 95px;" %>
            <% end %>
          </div>

          <!-- Back and submit buttons -->
          <div class="d-flex justify-content-between mt-4">
            <%= f.input :avatar_url,
                        wrapper_html: {class: "d-none"},
                        input_html: { data: {toggle_target: "avatarUrlInput"}}%>
            <button class="btn btn-outline-dark fw-semibold pt-2"
              data-action="click->toggle#toggleElems"><< Back </button>
            <%= f.button :submit, 'Save', class:"btn btn-success fw-semibold pt-2 px-4" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= image_tag 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710804956/Imagem4_hcfn7v.png', style:"max-width:30%;", class:"col-10 mb-5" %>
</div>
