<div class="h-100 row justify-content-center align-items-center position-relative" data-controller="avatar">
  <div class="profile-icon-container">
    <%= image_tag(@user.avatar_url.presence || 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710005027/403017_avatar_default_head_person_unknown_icon_z3rkhi.png', class: 'avatar large', data: { avatar_target: "avatar", action: "click->avatar#toggleOverlay" }, style: "cursor: pointer;") %>
  </div>
  <% avatar_paths = %w[avataaars-1711152138461_urxgov avataaars-1711152201666_ujiesm avataaars-1711152196623_an39is avataaars-1711152113371_ufekll
avataaars-1711152173441_il7fbp avataaars-1711152168047_sjh1ud avataaars-1711152154476_janftb avataaars-1711152148702_peusy9 avataaars-1711152116548_jfxd1w avataaars-1711152091605_yffgbt
avataaars-1711152096771_feedxi avataaars-1711152102557_zf4mfe avataaars-1711152099250_kylxkd avataaars-1711152143144_te1tg1 avataaars-1711152107997_hdlz9y avataaars-1711152058213_znsc7n
avataaars-1711152020226_tzlbnx avataaars-1711152064833_dyzssv avataaars-1711152069960_ehykou avataaars-1711152087873_spat2y avataaars-1711152094101_dr5t2j avataaars-1711151992027_f6vwgr
avataaars-1711151985201_dtdhk7 avataaars-1711152004754_yuikov avataaars-1711151999389_rbgn6c avataaars-1711152053259_qrymxz avataaars-1711152009900_s2h5d3 avataaars-1711151938160_dskywc
avataaars-1711151948747_kwruva avataaars-1711151943958_xojwim avataaars-1711151962416_j2qmvk avataaars-1711151973730_jnrcls avataaars-1711151979427_aqe6hn avataaars-1711151880719_weeec6 avataaars-1711151906996_rjnffq avataaars-1711151955496_wfojvh avataaars-1711151913154_btt0vx avataaars-1711151923667_zptp2a avataaars-1711151929563_s4giop avataaars-1711155890493_omrfrr.png] %>

  <div class="scrollable-content box col-10 rounded-4 p-3 bg-white position-absolute top-50 start-50 d-none d-flex flex-wrap justify-content-center" data-avatar-target="overlay" style="height: 59vh; top: 55%; transform: translate(-50%, -44%); z-index: 50;">
    <% avatar_paths.each do |path| %>
      <%= image_tag "https://res.cloudinary.com/dvgcwuo68/image/upload/v1711152239/#{path}", alt: "text", class: "col-5 avatar-edit-overlay avatar-hover m-1", data: { action: "click->avatar#selectAvatar" }, style:"cursor:pointer;" %>
    <% end %>

  </div>
  <div class="box col-10 rounded-4 p-1 glass-morph-card">
    <h3 class="ps-1 pt-5 pb-2 text-center">Edit your profile</h3>
    <div class="container" data-controller= "toggle">
      <%= simple_form_for @user, url: update_existing_profile_path do |f| %>
        <!-- Personal information -->
        <div class="container" data-toggle-target="toggleableElem">
          <%= f.input :avatar_url, as: :hidden, input_html: { data: { avatar_target: "avatarField" } } %>
          <%= f.input :first_name,
                      autofocus: true,
                      input_html: { placeholder: "e.g: John" }%>
          <%= f.input :last_name,
                      autofocus: true,
                      input_html: { placeholder: "e.g: Doe" }%>
          <%= f.input :nickname,
                      input_html: { placeholder: 'e.g: Babe' }%>
          <%= f.input :gender,
                      collection: ['Male', 'Female', 'I prefer not to say'],
                      prompt: 'Choose your gender',
                      input_html: { data: {toggle_target: 'genderInput'} }%>
          <%= f.input :date_of_birth,
                      html5: true,
                      input_html: { max: Time.current - 16.years } %>

          <div class="d-flex justify-content-center mt-4 mb-2">
            <%= f.button :submit, 'Save', class:"btn btn-primary fw-semibold pt-2", style: "width: 100%" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
