<div class="navbar navbar-expand-sm navbar-light navbar-lewagon position-sticky top-0">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "knoty_option_one.png" %>
    <% end %>


    <!-- activate after modifying navbar -->

    <%# unless pending_tasks_notif.nil? || pending_tasks_notif.empty? %>
      <!-- <div class="d-flex justify-content-end w-100">
          <%= image_tag "https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017025/carrier-pigeon_zyodoh.png",class:"me-2", style:"width:20%;" %>
      </div> -->
    <%# end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <% unless current_user.avatar_url.nil? %>
              <%= image_tag current_user.avatar_url, class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            <% end %>

            <i class="fa-solid fa-gear" style="position: absolute; bottom: -5px; right: -5px; color: black;"></i>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Your Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Profile Settings", edit_existing_profile_path, class: "dropdown-item" %>
              <%= link_to "Account Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link footer-login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
