<div class="container" data-controller="toggle">

  <div style="position: relative;" data-quests-target="exploreQuestsTab">
    <div class="briefing-card" >
      <div class="d-flex flex-column">
        <div class="mb-auto">
          <h3 class="briefing-title ms-0 ps-0 text-center" style="margin-top: 0px;"><%= challenge.title %></h3>
            <%= image_tag challenge.img_url, alt: "Card image cap", class:"briefing-card-img-top" %>
          <div class="overflow-y-auto mx-2">
            <p class="card-text text-secondary-emphasis scrollable-content" style="font-size:18px; max-height: 340px !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= prompt %>
            </p>
          </div>
        </div>

        <% if current_page?(couple_task_path(task)) %>
          <% if task.active? && task.completed.nil?  %>
            <%= button_to "Completed", mark_as_completed_couple_task_path(task), method: :patch, class: "begin-quest", style: "margin-bottom: 90px;" %>
          <% end %>
        <% elsif current_page?(individual_task_path(task)) && task.user == current_user %>
          <%= button_to "Completed", mark_as_completed_individual_task_path(task), method: :patch, class: "begin-quest", style: "margin-bottom: 90px;" %>
        <% end %>

      </div>
    </div>
  </div>

  <% if current_page?(individual_task_path(task)) %>
    <%= link_to solo_challenges_in_progress_path do %>
    <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710412462/wooden-arrow_xccyom.png' %>" class="arrow-back-explore">
    <h5 class="go-back-text">back</h5>
    <% end %>
  <% else %>
    <%= link_to couples_challenges_in_progress_path do %>
      <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710412462/wooden-arrow_xccyom.png' %>" class="arrow-back-explore">
      <h5 class="go-back-text">back</h5>
    <% end %>
  <% end %>
</div>
