<div class="container" >
    <div class="briefing-card">
      <div>
        <h3 class="briefing-title ms-0 ps-0 text-center"><%= @individual_challenge.title %></h3>
      </div>
      <img class="briefing-card-img-top" src="https://images.unsplash.com/photo-1627630737366-fbd46d8c11f5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">

      <div class="d-flex card-footer-briefing justify-space-between align-items-center bg-transparent pe-4" style="padding-left: 83px;">
          <div class="rating">
            <% @individual_challenge.difficulty.times do %>
              <img class="icon-challenge-card" src="https://res.cloudinary.com/dvgcwuo68/image/upload/v1709988762/fire_lfcpg7.png" alt="Flame">
            <% end %>
          </div>
          <div style="padding-left: 29px;">
            <% if @individual_challenge.estimated_time == 1 %>
              &nbsp;&nbsp;&nbsp;<img class="icon-challenge-card" src="https://res.cloudinary.com/dvgcwuo68/image/upload/v1709988688/chronometer_2_yksq6u.png" alt="Timer">
            <% elsif @individual_challenge.estimated_time == 2 %>
              &nbsp;&nbsp;&nbsp;<img class="icon-challenge-card" src="https://res.cloudinary.com/dvgcwuo68/image/upload/v1709988688/chronometer_1_jye271.png" alt="Timer">
            <% elsif @individual_challenge.estimated_time == 3 %>
              &nbsp;&nbsp;&nbsp;<img class="icon-challenge-card" src="https://res.cloudinary.com/dvgcwuo68/image/upload/v1709988688/chronometer_3_yujw23.png" alt="Timer">
            <% end %>
          </div>
          <div style="padding-left: 29px;">
            &nbsp;&nbsp;&nbsp;<img class="icon-challenge-card ms-3" src="https://res.cloudinary.com/dvgcwuo68/image/upload/v1710808418/person_1_cfasae.png" alt="individual">
          </div>
      </div>

      <div class="briefing-card-body">
        <p class="card-text" style="font-size:18px;">
          &nbsp;&nbsp;&nbsp; <%= @individual_challenge.details %>
        </p>

        <%= simple_form_for [@individual_challenge, @individual_task] do |f| %>
          <%= f.input :date, html5: true, label: "Choose completion date",
            wrapper_html: {class:"p-3"}, input_html: {min: Time.current} %>
          <%= f.button :submit,value: 'Begin', class:"begin-quest"%>
        <% end %>

      </div>
    </div>
  </div>
