<div class="container">
  <div class="add-memory mt-3 d-flex justify-content-end">
    <%= link_to new_event_path do %>
      <%= image_tag("https://res.cloudinary.com/dvgcwuo68/image/upload/v1710244537/sign_lighter_igvbsa.png", alt: "add_mission", class: "mission_plus", style:"margin-right: 20px;") %>
    <% end %>
  </div>
  <div id="calendar" style="position: relative;">
    <h2 id="month">
      <%= link_to image_tag("wooden-arrow.png", style: "width: 38px; height: 30px;"), :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to image_tag("wood-arrow.png", style: "width: 38px; height: 30px;"), :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
    </h2>

    <%= calendar_for @event, @date, :year => @date.year, :month => @date.month do |t| %>
        <%= t.head('S','M', 'T', 'W', 'T', 'F', 'S') %>
        <%= t.day do |day, event| %>
          <% day_events = (@events || []).select { |e| e.date && day && e.date.to_date == day.to_date } %>
          <% day_individual_tasks = (IndividualTask.where(active: true) || []).select { |i| i.date && day && i.date.to_date == day.to_date } %>
          <% day_couple_tasks = (CoupleTask.where(couple: @couple, active: true) || []).select { |c| c.completion_date && day && c.completion_date.to_date == day.to_date } %>
          <div class="day-container d-flex flex-column justify-content-start">
            <%= day.day %>
            <div class="icons-container">
              <% if day_individual_tasks.any? %>
                <%= link_to individual_task_path(day_individual_tasks.first), class: 'gray-link' do %>
                  <%= image_tag("https://res.cloudinary.com/dvgcwuo68/image/upload/v1710899360/diamond_zkjjtt.png", alt: "Individual task icon", size: "18x18") %>
                <% end %>
              <% end %>
              <% if day_events.any? %>
                <%= link_to event_path(day_events.first), class: 'gray-link' do %>
                  <%= image_tag("https://res.cloudinary.com/dvgcwuo68/image/upload/v1710899360/notes_1_zrvluy.png", alt: "event icon", size: "18x18") %>
                <% end %>
              <% end %>
              <% if day_couple_tasks.any? %>
                <%= link_to couple_task_path(day_couple_tasks.first), class: 'gray-link' do %>
                  <%= image_tag("https://res.cloudinary.com/dvgcwuo68/image/upload/v1710899360/gem_xdcqpa.png", alt: "Couple task icon", size: "18x18") %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>

  <%= link_to timeline_events_path do %>
    <div class="hoverable">
      <%= image_tag('calendar-plaque.png', alt: "calendar-plaque", class:'calendar-plaque') %>
      <p class="odyssey-timeline-label">forge your</p>
      <p class="odyssey-timeline">Odyssey Timeline</p>
    </div>
  <% end %>
</div>
