
<p class="event-show mt-3 ms-3 fs-2">
<%= @event.date.strftime("%A, %d %B") %>
</p>
<div class="container">
  <div class="glass-morph-card scrollable-content-show" style="overflow-y:auto;height: 645px;background-color: rgba(245, 245, 245, 0.5);border-radius: 10px">
      <% @day_events.each do |event| %>
        <div class="card-event-show m-3">
          <div class="details ms-2" style="flex-basis: 70%; max-width: 100%; word-wrap: break-word;">
            <h4 class="event-title" style="align-self: flex-start; font-size: 20px; margin-bottom: 2px; padding-top: 30px">
              <strong><%= event.name %></strong>
              <div class="d-flex justify-content-end align-items-end position-relative mt-1">
                <%= link_to edit_event_path(@event) do %>
                  <%= image_tag('https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017025/quill-pen_xty0r2.png', alt: 'feather', style: 'filter: sepia(90%); filter: contrast(80%); width: 19px; height: 25px; padding-bottom: 2px; margin-left: 6px; position: absolute; top: -37px; right: 55px;') %>
                <% end %>
                <%= link_to event_path(@event), data:{turbo_method: :delete, turbo_confirm:"Delete mission?"} do %>
                  <i class="fas fa-trash-alt m-2 fa-lg icon-show"></i>
                <% end %>
              </div>
            </h4>
              <div class="events-details">
                <%= event.details %>
              </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="mt-1">
  <%= link_to events_path, class: "arrow-back" do %>
      <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710412462/wooden-arrow_xccyom.png' %>" class="arrow-back-explore">
    <h5 class="go-back-text">back</h5>
    <% end %>
</div>
