<div class="container">
  <div class="d-flex justify-content-between mb-1">
    <%= button_to 'Add Memory', add_memory_events_path, method: :get, class: 'btn btn-outline-dark' %>
    <%= link_to 'Calendar', events_path, class: 'btn btn-outline-dark' %>
  </div>
  <div class="d-flex justify-content-center">
    <h1 class="m-0">Timeline</h1>
  </div>
  <section class="timeline <%= 'no-memories' unless @events.any? %> " style="overflow-y:auto; height:705px;" >
    <div class="container" >
      <!-- Display memory cards -->
      <% @events.each_with_index do |event, index| %>
        <div class="timeline-item">
          <div class="timeline-img bg-primary text-white text-center d-flex align-items-center justify-content-center" style="width: 75px; height: 30px; border-radius: 15px; margin-top: 0px; font-size: 11px; box-shadow: 0 0 10px rgba(0, 123, 255, 1);">
            <strong>
              <%= event.date.strftime("%d %b %Y") %>
            </strong>
          </div>

          <div class="timeline-card-product mb-5 <%= 'flex-row-reverse' if index.even? %>">
              <!-- Memory image -->
            <% if event.image.attached? %>
              <%= cl_image_tag event.image.key %>
            <% else %>
              <img src="https://res.cloudinary.com/dvgcwuo68/image/upload/v1711227662/How_happy_memories_can_boost_your_mood_hudtsk.jpg"/>
            <% end %>

            <div class="timeline-card-product-infos <%= index.even? ? 'text-align-right' : 'text-align-left' %>" style="padding: 8px; display: flex; flex-direction: column; justify-content: space-between;">
              <div>
                <h4 style="word-wrap: break-word;"><%= event.name %></h4>
                <p style="word-wrap: break-word;"><%= event.details %></p>
                <p style="word-wrap: break-word;"><%= event.location %></p>
              </div>
            </div>
            <% unless event.name == "Welcome!" %>
              <div class="d-flex <%= index.even? ? 'flex-row' : 'flex-row-reverse' %> justify-content-start" style="position: absolute; bottom: 0; <%= index.even? ? 'left' : 'right' %>: 0;">
                <%= link_to edit_event_path(event, origin: 'timeline'), class: 'icon-button-timeline' do %>
                  <i class="fas fa-pen-square m-2 fa-lg "></i>
                <% end %>
                <%= button_to event_path(event, origin: 'timeline'), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'icon-button-timeline' do %>
                  <i class="fas fa-trash-alt m-2 fa-lg"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
