<div class="bg-clear-page scrollable-content" style="width:100%; height: 100%;">

  <!--LOGIN BUTTON -->
  <div class="d-flex justify-content-between m-2">
    <%= link_to "Sign Up", new_user_registration_path, class: "nav-link sign-up-landing" %>
    <%= link_to "Login", new_user_session_path, class: "nav-link login-landing" %>
  </div>

  <!--LOGO -->
  <div class="landing-top-logo">
    <%= image_tag "knoty_option_one.png", style:"width: 251px; height: 79px;" %>
  </div>

  <!-- Intro text -->
  <div class="text-center">
    <h3 class="landing-text-top-one"><strong>Embark on an epic adventure with your partner!</strong></h3>
    <h5 class="landing-text-top-two">Find all the love seeds and safeguard your love against Boredoom and Chorebrutus! </h5>
  </div>


  <!--ISLAND IMAGES -->
  <div class="d-flex flex-row position-relative">
    <div class="landing-island animated-box1" id="islandlupa1">
      <%= image_tag "ideserted.png", class:"landing-island-images", style:"top: 3px; left: 5px;" %>
    </div>

    <div class="landing-island animated-box2" id="islandlupa2">
      <%= image_tag "ivulcanic.png", class:"landing-island-images", style:"top: 3px; left: 5px;" %>
    </div>

    <div class="landing-island animated-box3" id="islandlupa3">
      <%= image_tag "ifuturistic.png", class:"landing-island-images", style:"top: 3px; left: 5px;" %>
    </div>

    <div class="landing-island  animated-box4" id="islandlupa4">
      <%= image_tag "icloud.png", class:"landing-island-images", style:"top: 3px; left: 5px;" %>
    </div>
  </div>

  <!-- Text part two-->
  <div class="text-center">
    <h3 class="landing-text-middle-one">Watch your love blossom as you conquer challenges together.</h3>
    <h5 class="landing-text-middle-two">From romantic adventures to hilarious missions, Knoty offers a variety of opportunities to keep your love thriving. </h5>
  </div>

  <!-- APP CARDS -->

  <div class="card-container d-flex flex-row align-items-center" data-controller="app-card">
    <div class="app-card" data-action="click->app-card#toggleCard" data-app-card-target="card" >
      <%= image_tag "https://res.cloudinary.com/dvgcwuo68/image/upload/v1711667495/Captura_de_ecr%C3%A3_2024-03-28_175821_cvsyeu.png", class:"card-image"%>
    </div>

    <div class="app-card" data-action="click->app-card#toggleCard" data-app-card-target="card" >
      <%= image_tag "https://res.cloudinary.com/dvgcwuo68/image/upload/v1711667501/Captura_de_ecr%C3%A3_2024-03-28_174322_g13yb4.png", class:"card-image"%>
    </div>

    <div class="app-card" data-action="click->app-card#toggleCard" data-app-card-target="card" >
      <%= image_tag "https://res.cloudinary.com/dvgcwuo68/image/upload/v1711667545/Captura_de_ecr%C3%A3_2024-03-28_231128_mdl5jb.png", class:"card-image"%>
    </div>

    <div class="app-card" data-action="click->app-card#toggleCard" data-app-card-target="card" >
      <%= image_tag "https://res.cloudinary.com/dvgcwuo68/image/upload/v1711667492/Captura_de_ecr%C3%A3_2024-03-28_164841_yoryrz.png", class:"card-image"%>
    </div>

    <div class="app-card" data-action="click->app-card#toggleCard" data-app-card-target="card" >
      <%= image_tag "https://res.cloudinary.com/dvgcwuo68/image/upload/v1711667491/Captura_de_ecr%C3%A3_2024-03-28_173722_jlazvs.png", class:"card-image"%>
    </div>

    <div class="app-card" data-action="click->app-card#toggleCard" data-app-card-target="card" >
      <%= image_tag "https://res.cloudinary.com/dvgcwuo68/image/upload/v1711667500/Captura_de_ecr%C3%A3_2024-03-28_174428_w2fv12.png", class:"card-image"%>
    </div>

  </div>

  <!-- Text part three-->
  <div class="text-center">
    <h5 class="landing-text-end-one">Join the thousands of couples already leveling up their love with Knoty's fun and interactive challenges. </h5>
    <%= link_to "Embark on an Adventure!", new_user_registration_path, class: "adventure-button" %>
  </div>

  <div>
    <%= image_tag 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710804956/Imagem4_hcfn7v.png', style:"max-width:24%; margin-top: 51px;", class:"col-10 mx-auto d-block" %>
  </div>


  <p class="row justify-content-center mt-4 mb-0">
    <button class="col-3 credits" type="button" data-bs-toggle="collapse" data-bs-target="#aboutUsCollapse" aria-expanded="false" aria-controls="aboutUsCollapse">
      Credits
    </button>
  </p>
  <div class="row justify-content-center">
    <div class="col-10 collapse" id="aboutUsCollapse">
      <div style="margin-left: 20px; background: transparent;">
        <!-- About us banner -->
          <div>
            <p class="text-center">Welcome to Knoty! Founded by Ana Madeira, André Costa, Ahmed Bouguacha and Ivan Oliynik, <em>Knoty</em> is the result of a dedicated team of junior web developers driven by a shared love for fostering meaningful connections between people.</p>
            <p class="text-center" style="font-size: 10px;"> Knoty acknowledges the invaluable contributions of <em>Flaticon</em>, for the icons and graphics used in Knoty, and <em>RibiRibiStudios</em> for creating the images and contributing to the Knotys' design elements. </p>
          </div>
      </div>
    </div>
  </div>

</div>
