<!-- app/views/pages/profile.html.erb -->

<div data-controller="toggle chart"
    data-chart-my-love-language-value="<%= @my_love_language.to_json %>"
    data-chart-partner-love-language-value="<%= @partner_love_language.to_json %>">
  <div class="container">

    <div class="tabs-profile">

      <div class="tab-profile active d-flex justify-content-center align-items-center" data-toggle-target="currentUserTab" data-action= "click->toggle#currentUserProfile">
        <% unless current_user.avatar_url.nil? %>
          <%= link_to edit_existing_profile_path, class: "avatar-link" do %>
            <%= image_tag current_user.avatar_url, alt: "User avatar", class: "avatar" %>
          <% end %>
        <% else %>
          <%= link_to edit_user_registration_path, class: "avatar-link" do %>
            <%= image_tag 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710005027/403017_avatar_default_head_person_unknown_icon_z3rkhi.png', class: 'avatar' %>
          <% end %>
        <% end %>

      </div>
      <div class="tab-profile d-flex justify-content-center"  data-toggle-target="partnerUserTab" data-action="click->toggle#partnerUserProfile">
        <% unless @partner.avatar_url.nil? %>
          <%= image_tag @partner.avatar_url, alt: "User avatar", class: "avatar" %>
          <% else %>
          <%= image_tag 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710005027/403017_avatar_default_head_person_unknown_icon_z3rkhi.png', class: 'avatar' %>
        <% end %>
      </div>
    </div>


    <div class="content-profile mx-auto row w-100 justify-content-center align-items-center rounded-bottom-4" data-toggle-target="currentUserElem">
        <p class="text-center col-10 pt-3">
          <strong style="font-family: Berkshire Swash; font-size: 30px;"><%= current_user.first_name %></strong><br>
          <span style="font-family: Vidaloka; font-size: 20px; font-style: italic; color: #888; margin-top: 1px;">= Warrior Attributes =</span><br>
        </p>


      <div style="margin-top: -157px;">
        <% unless @my_love_language.nil? %>
          <canvas class="col-10"
            data-chart-target="myChart" style="margin-bottom: 62px">
          </canvas>
        <% else %>
          <h4 class="col-10 text-body-tertiary">You don't have any Love language Stats yet 😭</h4>
        <% end %>
      </div>
    </div>


    <div class="content-profile mx-auto row w-100 justify-content-center align-items-center d-none rounded-bottom-4" data-toggle-target="partnerUserElem">
      <p class="text-center col-10 fs-3 pt-3">
        <strong style="font-family: Berkshire Swash; font-size: 30px;"><%= @partner.first_name %></strong><br>
        <span style="font-family: Vidaloka; font-size: 20px; font-style: italic; color: #888;">= Warrior Attributes =</span>
      </p>

      <div style="margin-top: -157px;">
        <% unless @partner_love_language.nil? %>
        <canvas class="col-10"
          data-chart-target = "partnerChart" style="margin-bottom: 62px">
        </canvas>
        <% else %>
          <h4 class="col-10 text-body-tertiary"><strong><%= @partner.first_name %></strong> doesn't have Love language Stats yet 😭</h4>
        <% end %>
      </div>
    </div>
      <div>
          <%= link_to new_love_language_path, style: "text-decoration: none; color: black;" do %>
          <p class="profile-edit-word">reacess your</p>
          <p class="profile-love-word">Love Language</p>
          <% end %>
      </div>

  </div>
</div>
