<div class="container" style="height: 723px;" data-controller="quests">

  <!-- Explore Quests/In progress tab links -->
  <div class="tabs">
    <div class="tab fs-5 d-flex justify-content-center bg-light bg-opacity-25 bg-opacity-50"
      data-quests-target="exploreQuestsLink"
      data-action="click->quests#exploreQuests">Explore Quests</div>
    <div class="tab fs-5 d-flex justify-content-center bg-light bg-opacity-25"
      data-quests-target="inProgressLink"
      data-action="click->quests#inProgress">In progress</div>
  </div>

  <!------------------------ Explore Quests tab content ------------------------>
  <div class="content bg-light bg-opacity-50 rounded-bottom-4" data-quests-target="exploreQuestsTab">
    <div class="all-carousel">
      <div class="carousel-1 mt-0 pt-1">
        <h3 class="d-flex justify-content-start fs-4 fw-bold subtitle-quest-list">Couple Challenge</h3>
        <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-interval="false">

          <div class="carousel-inner">
            <% @couple_challenges.each_with_index do |couple, index| %>

              <div class="carousel-item <%= 'active' if index.zero? %>">
                <div class="card my-card">
                  <div class="card-body">
                    <%= link_to couple_challenge_path(couple), class: "a-card" do %>
                      <%= render 'shared/cards_couple', couple: couple %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
            <a class="carousel-control-prev" role="button" data-bs-target= "#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target= "#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>

      <div class="carousel-2 pb-2">
        <h3 class="d-flex justify-content-start fs-4 fw-bold subtitle-quest-list">Individual Challenge</h3>
        <div id="carouselExampleControls2" class="carousel slide" data-interval="false" data-interval="false">

          <div class="carousel-inner">
            <% @individual_challenges.each_with_index do |individual, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <div class="card my-card">
                  <div class="card-body">
                  <%= link_to individual_challenge_path(individual), class: "a-card" do %>
                    <%= render 'shared/cards_individual', individual: individual %>
                  <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
            <a class="carousel-control-prev" role="button" data-bs-target= "#carouselExampleControls2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target= "#carouselExampleControls2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
    </div>
  </div>


  <!------------------------ In progress tab content ------------------------>
  <div class="container h-100 content mt-0 d-none bg-light bg-opacity-50 rounded-bottom-4"
    data-quests-target="inProgressTab">

    <!-- In progress tab links -->
    <div>
      <div class="row mt-0 mb-2 pt-2">
        <div class="col-6 d-flex justify-content-center p-0 fs-5"><u>Couples' Quests</u></div>
        <div class="col-6 d-flex justify-content-center p-0 fs-5"><u>Individual Quests</u></div>
      </div>
      <div class="row p-0 mb-4">

        <div class="col-3 d-flex justify-content-end pe-2">
          <input type="radio" class="btn-check" name="inprogresstab" id="btnradio1" checked>
          <label class="btn btn-outline-success rounded-pill" for="btnradio1"
            data-action="click->quests#activeQuests">Active</label>
        </div>

        <div class="col-3 d-flex justify-content-start p-0">
          <input type="radio" class="btn-check" name="inprogresstab" id="btnradio2">
          <label class="btn btn-outline-warning rounded-pill" for="btnradio2"
            data-action="click->quests#pendingQuests">Pending</label>
        </div>

        <div class="col-3 d-flex justify-content-end p-0">
          <input type="radio" class="btn-check" name="inprogresstab" id="btnradio3">
          <label class="btn btn-outline-secondary rounded-pill" for="btnradio3"
            data-action="click->quests#indivQuests1">Mine</label>
        </div>

        <div class="col-3 d-flex justify-content-start ps-2">
          <input type="radio" class="btn-check" name="inprogresstab" id="btnradio4">
          <label class="btn btn-outline-secondary rounded-pill" for="btnradio4"
            data-action="click->quests#indivQuests2"><%= @partner.first_name.capitalize %>'s</label>
        </div>

      </div>
    </div>

    <!-- Active couple quests tab content -->
    <div class="d-flex justify-content-center"
      data-quests-target="activeQuestsTab">

      <p>hello</p>

    </div>

    <!-- Pending couple quests tab content -->
    <div class="d-flex justify-content-center d-none"
      data-quests-target="pendingQuestsTab">

      <% unless @pending_tasks.nil? || @pending_tasks.empty?  %>
        <% @pending_tasks.each do |task| %>
          <%= render 'shared/cards_ongoing_couple', task: task %>
        <% end %>
      <% else %>
        <h4 class="text-center text-body-tertiary">You have no pending couple challenges! 🥳</h4>
      <% end %>

    </div>

    <!-- Current user's individual quests tab content -->
    <div class="d-flex justify-content-center d-none"
      data-quests-target="indivQuestsTab1">
      <h4 class="text-center text-body-tertiary">You did not start any individual challenges yet! 😱</h4>
    </div>

    <!-- Partner's individual quests tab content -->
    <div class="d-flex justify-content-center d-none"
      data-quests-target="indivQuestsTab2">
      <h4 class="text-center text-body-tertiary"><%= @partner.first_name.capitalize %> did not start any individual challenges yet! 😱</h4>
    </div>
  </div>

</div>
