<div class="tabs">
  <div class="tab active fs-5 d-flex justify-content-center" id="tab1">Explore Quest</div>
  <div class="tab fs-5 d-flex justify-content-center" id="tab2">Ongoing</div>
</div>
<div class="content" id="content1">
  <div class="all-carousel">
    <div class="carousel-1">
      <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-interval="false">
        <div class="carousel-inner my-5">
          <% @couple_challenges.each_with_index do |couple, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <div class="card my-card">
                <div class="card-body">
                  <%= link_to couple_challenge_path(couple), class: "a-card" do %>
                    <%= render 'shared/cards_couple', couple: couple %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
          <a class="carousel-control-prev" role="button" data-bs-target= "#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" role="button" data-bs-target= "#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
    <div class="carousel-2">
      <div id="carouselExampleControls2" class="carousel slide" data-interval="false" data-interval="false">
        <div class="carousel-inner my-5">
          <% @individual_challenges.each_with_index do |individual, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <div class="card my-card">
                <div class="card-body">
                <%= link_to individual_challenge_path(individual), class: "a-card" do %>
                  <%= render 'shared/cards_individual', individual: individual %>
                <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
          <a class="carousel-control-prev" role="button" data-bs-target= "#carouselExampleControls2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" role="button" data-bs-target= "#carouselExampleControls2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
  </div>
</div>
<div class="container content mt-3" id="content2">
  <div>
    <div class="row my-2">
      <div class="col-6 d-flex justify-content-center p-0 fs-5"><u>Couples' Quests</u></div>
      <div class="col-6 d-flex justify-content-center p-0 fs-5"><u>Individual Quests</u></div>
    </div>
    <div class="row p-0">
      <div class="col-3 d-flex justify-content-end pe-2">
        <button type="button" class="btn btn-outline-success rounded-pill" onclick="showActive()">Active</button>
      </div>
      <div class="col-3 d-flex justify-content-start p-0">
        <button type="button" class="btn btn-outline-warning rounded-pill" onclick="showPending()">Pending</button>
      </div>
      <div class="col-3 d-flex justify-content-end p-0">
        <button type="button" class="btn btn-outline-secondary rounded-pill" onclick="showAhmeds()">Ahmeds'</button>
      </div>
      <div class="col-3 d-flex justify-content-start ps-2">
        <button type="button" class="btn btn-outline-secondary rounded-pill" onclick="showAncas()">Ancas'</button>
      </div>
    </div>
  </div>
  <div id="activeContent" class="hidden">
    <p>This is the active content.</p>
  </div>
  <div id="pendingContent" class="hidden">
    <p>This is the pending content.</p>
  </div>
  <div id="ahmedsContent" class="hidden">
    <p>This is Ahmeds content.</p>
  </div>
  <div id="ancasContent" class="hidden">
    <p>This is Ancas content.</p>
  </div>
</div>
<script>
  var tabs = document.querySelectorAll('.tab');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', function() {
      tabs.forEach(function(tab) {
        tab.classList.remove('active');
      });
      this.classList.add('active');
      var contentId = this.id.replace('tab', 'content');
      document.querySelectorAll('.content').forEach(function(content) {
        content.style.display = content.id === contentId ? 'block' : 'none';
      });
    });
  });
  function showActive() {
  document.getElementById("activeContent").classList.remove("hidden");
  document.getElementById("pendingContent").classList.add("hidden");
  document.getElementById("ahmedsContent").classList.add("hidden");
  document.getElementById("ancasContent").classList.add("hidden");
}
function showPending() {
  document.getElementById("activeContent").classList.add("hidden");
  document.getElementById("pendingContent").classList.remove("hidden");
  document.getElementById("ahmedsContent").classList.add("hidden");
  document.getElementById("ancasContent").classList.add("hidden");
}
function showAhmeds() {
  document.getElementById("activeContent").classList.add("hidden");
  document.getElementById("pendingContent").classList.add("hidden");
  document.getElementById("ahmedsContent").classList.remove("hidden");
  document.getElementById("ancasContent").classList.add("hidden");
}
function showAncas() {
  document.getElementById("activeContent").classList.add("hidden");
  document.getElementById("pendingContent").classList.add("hidden");
  document.getElementById("ahmedsContent").classList.add("hidden");
  document.getElementById("ancasContent").classList.remove("hidden");
}
</script>
  <style>
    .hidden {
      display: none;
    }
  </style>
