<div class="container mt-5" data-controller="quests">

  <div class="vines content bg-light bg-opacity-50 rounded-4" data-quests-target="exploreQuestsTab">
    <%= image_tag("questmenu.png", alt: "vines") %>

    <!-- link to Explore Couples Quests -->
    <div style="text-align: center; position: relative;">
      <a href="/explore_couples_challenges" class="link1" style="top: -608px; left: 150px; transform: rotate(6deg)">
        Explore Couples'<br>
        <span class="subtext">Quests</span>
      </a>
    </div>

    <!-- link to Explore Solo Quests -->
    <div style="text-align: center; position: relative;">
      <a href="/explore_solo_challenges" class="link1" style="top: -436px; left: 97px; transform: rotate(-9deg)">
        Explore Solo<br>
        <span class="subtext">Quests</span>
      </a>
    </div>

    <!-- link to Couples' Quests in Progress -->
    <div style="text-align: center; position: relative;">
      <a href="#" class="link1" style="top: -260px; left: 178px; transform: rotate(0deg)">
        Couples' Quests<br>
        <span class="subtext">In Progress</span>
      </a>
    </div>

    <!-- link to Solo Quests in Progress -->
    <div style="text-align: center; position: relative;">
      <a href="/solo_challenges_in_progress" class="link1" style="top: -110px; left: 104px; transform: rotate(4deg)">
        Solo Quests<br>
        <span class="subtext">In Progress</span>
      </a>
    </div>

  </div>



  <!-- EXPLORE QUESTS / IN PROGRESS QUEST TAB LINKS -->

  <!--
  <div class="tabs">
    <div class="tab fs-5 d-flex justify-content-center bg-light bg-opacity-25 bg-opacity-50"
      data-quests-target="exploreQuestsLink"
      data-action="click->quests#exploreQuests">Explore Quests</div>
    <div class="tab fs-5 d-flex justify-content-center bg-light bg-opacity-25"
      data-quests-target="inProgressLink"
      data-action="click->quests#inProgress">In progress</div>
  </div>
  -->

  <!------------------------ EXPLORE QUESTS TAB CONTENT ------------------------>

  <!--
  <div class="content h-100 bg-light bg-opacity-50 rounded-bottom-4" data-quests-target="exploreQuestsTab">
    <div class="all-carousel">

      <div>
        <div class="row mt-0 mb-2 pt-4">
          <div class="col-6 d-flex justify-content-center p-0 fs-5 position-relative" id="couples-quests-explore">
            <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/log2-removebg-preview_jeecey.png' %>" class="position-absolute background-image-1" style="left: 14px; width: 93%;">
            <div class="position-relative couples-quests-explore" style="z-index: 3; font-weight: bold; left: 8px;">Couples' Quests</div>
          </div>
          <div class="col-6 d-flex justify-content-center p-0 fs-5 position-relative" id="solo-quests-explore">
            <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/log2-removebg-preview_jeecey.png' %>" class="position-absolute background-image-2" style="width: 87%;">
            <div class="position-relative solo-quests-explore" style="z-index: 3; font-weight: bold; padding-left: 0px">Solo Quests</div>
          </div>
        </div>
      </div>

      <div class="carousel-1">
        <div id="carouselExampleControls" class="carousel slide mt-3" data-interval="false" data-interval="false">

          <div class="carousel-inner">
            <% @couple_challenges.each_with_index do |couple, index| %>

              <div class="carousel-item <%= 'active' if index.zero? %>">
                <div class="card my-card">
                  <div class="card-body">
                    <%= link_to couple_challenge_path(couple), class: "a-card" do %>
                      <%= render 'shared/cards_couple', couple: couple %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
            <a class="carousel-control-prev" role="button" data-bs-target= "#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target= "#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>

      <div class="carousel-2">
        <div id="carouselExampleControls2" class="carousel slide" data-interval="false" data-interval="false">

          <div class="carousel-inner">
            <% @individual_challenges.each_with_index do |individual, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <div class="card my-card">
                  <div class="card-body">
                  <%= link_to individual_challenge_path(individual), class: "a-card" do %>
                    <%= render 'shared/cards_individual', individual: individual %>
                  <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
            <a class="carousel-control-prev" role="button" data-bs-target= "#carouselExampleControls2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target= "#carouselExampleControls2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
    </div>
  </div>
  -->


  <!------------------------ IN PROGRESS TAB CONTENT ------------------------>
  <!--
  <div class="container h-100 content mt-0 d-none bg-light bg-opacity-50 rounded-bottom-4"
    data-quests-target="inProgressTab">
  -->

    <!-------------------------- IN PROGRESS TAB LINKS -------------------------->
    <!--
    <div class="logs_plaques">
      <div class="row mt-0 mb-2 pt-4">
          <div class="col-6 d-flex justify-content-center p-0 fs-5 position-relative">
            <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/log2-removebg-preview_jeecey.png' %>" class="position-absolute background-image-1">
            <div class="position-relative" style="z-index: 3; font-weight: bold;">Couples' Quests</div>
          </div>
          <div class="col-6 d-flex justify-content-center p-0 fs-5 position-relative">
            <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/log2-removebg-preview_jeecey.png' %>" class="position-absolute background-image-2">
            <div class="position-relative" style="z-index: 3; font-weight: bold; padding-left: 14px">Solo Quests</div>
          </div>
      </div>

      <div class="row p-0 mb-4 pt-4">
        <div class="col-3 d-flex justify-content-end pe-2">
          <input type="radio" class="btn-check" name="inprogresstab" id="btnradio1" checked>
          <label class="btn btn-outline-success rounded-pill sign-button-active" for="btnradio1" data-action="click->quests#activeQuests" style="z-index: 1; padding-top: 3px;">Active</label>
          <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/3cb5c6ac-b9c7-4a64-b071-ef4d3cf61091-removebg-preview_gdhoda.png' %>" class="position-absolute wooden-sign-active">
        </div>

        <div class="col-3 d-flex justify-content-start p-0">
          <input type="radio" class="btn-check" name="inprogresstab" id="btnradio2">
          <label class="btn btn-outline-warning rounded-pill sign-button-pending" for="btnradio2" data-action="click->quests#pendingQuests" style="z-index: 1; padding-top: 3px;">Pending</label>
          <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/3cb5c6ac-b9c7-4a64-b071-ef4d3cf61091-removebg-preview_gdhoda.png' %>" class="position-absolute wooden-sign-pending">
        </div>

        <div class="col-3 d-flex justify-content-end p-0">
          <input type="radio" class="btn-check" name="inprogresstab" id="btnradio3">
          <label class="btn btn-outline-secondary rounded-pill sign-button-mine" for="btnradio3" data-action="click->quests#indivQuests1" style="z-index: 1; padding-top: 3px;">Yours</label>
          <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/3cb5c6ac-b9c7-4a64-b071-ef4d3cf61091-removebg-preview_gdhoda.png' %>" class="position-absolute wooden-sign-mine">
        </div>

        <div class="col-3 d-flex justify-content-center ps-2">
          <input type="radio" class="btn-check" name="inprogresstab" id="btnradio4">

          <label class="btn btn-outline-secondary rounded-pill sign-button-name ps-1" for="btnradio4" data-action="click->quests#indivQuests2" style="z-index: 1; padding-top: 3px;">
            His/Hers
          </label>
          <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/3cb5c6ac-b9c7-4a64-b071-ef4d3cf61091-removebg-preview_gdhoda.png' %>" class="position-absolute wooden-sign-name">
        </div>

      </div>
    </div>
    -->


    <!-------------------------- ACTIVE COUPLES' QUESTS TAB CONTENT -------------------------->

    <!--
    <div class="row justify-content-center"
      data-quests-target="activeQuestsTab">
      <% unless @active_tasks.nil? || @active_tasks.empty?  %>
        <% @active_tasks.each do |task| %>

          <%= link_to couple_task_path(task), class:"link-underline link-underline-opacity-0 text-dark my-2 ps-1 pe-3" do %>
            <%= render 'shared/cards_ongoing_active_couple', task: task %>
          <% end %>

        <% end %>
      <% else %>
        <h4 class="text-center text-body-tertiary">You have no active couple challenges! 🥹</h4>
      <% end %>
    </div>
    -->


    <!-------------------------- PENDING COUPLE QUESTS TAB CONTENT -------------------------->
    <!--
    <div class="row justify-content-center d-none"
      data-quests-target="pendingQuestsTab">

      <% unless @pending_tasks.nil? || @pending_tasks.empty?  %>
        <% @pending_tasks.each do |task| %>

          <% if current_user == User.find(task.invited_id) && task.active == false %>
            <%= link_to edit_couple_task_path(task), class:"link-underline link-underline-opacity-0 text-dark my-2 ps-1 pe-3" do %>
              <%= render 'shared/cards_ongoing_pending_couple', task: task %>
            <% end %>
          <% else %>
            <%= link_to couple_task_path(task), class:"link-underline link-underline-opacity-0 text-dark my-2 ps-1 pe-3" do %>
              <%= render 'shared/cards_ongoing_pending_couple', task: task %>
            <% end %>
          <% end %>

        <% end %>
      <% else %>
        <h4 class="text-center text-body-tertiary">You have no pending couple quests! 🥳</h4>
      <% end %>
    </div>
    -->


    <!-------------------------- CURRENT USERS' INDIVIDUAL QUESTS TAB CONTENT -------------------------->
    <!--
    <div class="row justify-content-center d-none"
      data-quests-target="indivQuestsTab1">
        <% unless @my_solo_tasks.nil? || @my_solo_tasks.empty?  %>

          <% @my_solo_tasks.each do |task| %>
            <%= link_to individual_task_path(task), class:"link-underline link-underline-opacity-0 text-dark my-2 ps-1 pe-3" do %>
              <%= render 'shared/cards_individual_active', task: task %>
            <% end %>
          <% end %>

        <% else %>
          <h4 class="text-center text-body-tertiary">At the moment, you haven't embarked on a solo adventure quest. 🧭</h4>
        <% end %>
    </div>
    -->


    <!-------------------------- PARTNERS INDIVIDUAL QUESTS TAB CONTENT -------------------------->
    <!--
    <div class="row justify-content-center d-none"
      data-quests-target="indivQuestsTab2">

      <% unless @partner_solo_tasks.nil? || @partner_solo_tasks.empty?  %>

          <% @partner_solo_tasks.each do |task| %>
            <%= link_to individual_task_path(task), class:"link-underline link-underline-opacity-0 text-dark my-2 ps-1 pe-3" do %>
              <%= render 'shared/cards_individual_active', task: task %>
            <% end %>
          <% end %>

      <% else %>
        <h4 class="text-center text-body-tertiary">At the moment, your partner hasn't embarked on a solo adventure quest. 🧭</h4>
      <% end %>
    </div>
  </div>
 -->
</div>
