<div class="mission d-flex align-items-center mission-background" style="min-height: 110px;">
  <div class="icon ps-4" style="margin-top: -50px;">
    <%= image_tag(mission.icon, size: "35x35") %>
  </div>

  <div class="details ms-2" style="flex-basis: 70%; max-width: 65%; word-wrap: break-word; margin-top: -17px;">
    <h4 class="mission-title ps-0" style="align-self: flex-start; font-size: 17px"><%= mission.title %></h4>
    <div class="mission-details">
      <%= mission.details %>
    <p class="mission-date"><%= format_date(mission.created_at) %></p>
    </div>
  </div>
<div class="p-1 text-center pb-5 d-flex flex-column justify-content-between">
  <div class="ps-4 pb-6">
    <%= link_to edit_mission_path(mission), class: "icon-link" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </div>
  <div>
    <%= link_to mission_path(mission), data:{turbo_method: :delete, turbo_confirm:"Mission deleted!!!"}, class: "thumb" do %>
      <%= image_tag('delete.png', alt: 'ThumbUp', style: 'width: 20px; height: 20px; margin-right: 10px') %>
    <% end %>
    <%= link_to mission_path(mission), data:{turbo_method: :delete, turbo_confirm:"Mission accomplished?"}, class: "thumb" do %>
      <%= image_tag('check.png', alt: 'ThumbUp', style: 'width: 20px; height: 20px; margin-right: 12px;') %>
    <% end %>
  </div>
</div>
</div>
