<%= simple_form_for @mission, html: { class: 'container mt-5 ps-3 pe-3 py-5 d-flex flex-column paper-form' } do |form| %>


    <!-- still need to add font to add-mission -->
    <div class="add-mission d-flex justify-content-center mb-2 p-1 ps-0 d-f">
      <%if current_page?(new_mission_path(mission))%>
        <h3 style="padding-left: 3px; padding-top: 0; font-family: Berkshire Swash, serif; font-size: 30px;"><b>Add a mission to your board!</b></h3>
      <%else%>
        <h3 style="padding-left: 3px; padding-top: 0; font-family: Berkshire Swash, serif; font-size: 30px;"><b>Edit your mission!</b></h3>
      <%end%>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
      <% ['https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017024/baby-boy_pxjhuz.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017024/children_rh86sr.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017024/pets_m26mru.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017023/bus_qqfqon.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017022/big-family_cwbr3x.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/cooking_xa7yq2.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017025/restaurant_p22fqc.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017023/toilet-paper_rhzkq8.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017024/shopping-bag_ydgsi9.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017023/garbage_lrtafp.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/cleaning_yhunfb.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017023/toilet-paper_rhzkq8.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017023/salary_s4njkb.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017022/calendar_xfqacz.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017022/airplane_hx3vqv.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/travel_hku6vo.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/gift-box_ezdcvs.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/hug_euhbos.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/laundry-machine_lmldra.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/post-it_w4vkxy.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/smart-light_l0suko.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017020/storage-box_fid6op.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017021/call_cuubri.png',
          'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710017025/hospital_uxhsny.png'].each_with_index do |icon_url, index| %>
        <div class="p-1">
          <%= form.radio_button :icon, icon_url, class: "d-none", id: "radio-icon#{index}" %>
          <div class="icon-container" style="display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: rgba(255, 255, 255, 0.3); padding: 5px; width: 50px; height: 50px;">
            <%= label_tag "radio-icon#{index}", image_tag(icon_url, alt: "Icon #{index + 1}", style: "cursor:pointer; width: 30px; height: 30px;"), class: "icon-label" %>
          </div>
        </div>
      <% end %>
    </div>

  <div class="mission-form-container">
    <div class="form-group mt-3" data-controller="char-counter">
      <label for="title" class="mb-0" style="font-size: 18px;"><b>What's the mission?</b></label>
      <p class="sub-label text-muted mb-1">Make it fun!<span class=" text-secondary ms-1" style = "margin-top: -10px;">(Max: 65 chars)</span></p>

      <%= form.input :title, as: :text, label: false, maxlength: 65, placeholder: "e.g: It's time to do the 'take the trash out dance'!",
        input_html: { id: 'title', rows: 2, style: 'resize: none;',
        data: {char_counter_target: 'input', action: "keyup->char-counter#updateCounter"} } %>
      <div class="d-flex justify-content-between">
        <p class="fs-6 text-secondary ms-3 mb-0" data-char-counter-target="counterDisplay" style = "margin-top: -10px; height:24px;"></p>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <%if current_page?(new_mission_path(mission))%>
        <%= form.button :submit, 'Add Mission', class: 'wood-plaque-button' %>
      <%else%>
        <%= form.button :submit, 'Edit Mission', class: 'wood-plaque-button' %>
      <%end%>
    </div>
      <% end %>

  </div>
  <%= link_to missions_path, class: "arrow-back" do %>
    <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710412462/wooden-arrow_xccyom.png' %>" class="arrow-back-explore">
  <% end %>
