<%= simple_form_for @mission, html: { class: 'container mt-4 ps-3 pe-3 d-flex flex-column' } do |form| %>
  <%= link_to missions_path, class: "text-dark" do %>
    <i class="fa-solid fa-arrow-left" style="font-size: 24px;"></i>
  <% end %>
  <div class="p-1 ps-0">
    <h3 style="padding-left: 3px;"><b>Edit your mission</b></h3>
  </div>

  <div class="row justify-content-center">
    <% ['https://res.cloudinary.com/dvgcwuo68/image/upload/v1709836310/utensils-solid_rrdov1.png',
        'https://res.cloudinary.com/dvgcwuo68/image/upload/v1709836309/dog-solid_ayqzw4.png',
        'https://res.cloudinary.com/dvgcwuo68/image/upload/v1709836309/school-solid_bexvna.png'].each_with_index do |icon_url, index| %>
      <div class="col-4 d-flex justify-content-center">
        <%= form.radio_button :icon, icon_url, class: "d-none", id: "radio-icon#{index}" %>
        <div class="icon-container" style="display: flex; justify-content: center; align-items: center; border: 2px solid #000; border-radius: 50%; padding: 10px; width: 70px; height: 70px;">
          <%= label_tag "radio-icon#{index}", image_tag(icon_url, alt: "Icon #{index + 1}", style: "cursor:pointer; width: 50px; height: 50px;"), class: "icon-label" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% ['https://res.cloudinary.com/dvgcwuo68/image/upload/v1709836309/toilet-paper-solid_hhlcgr.png',
        'https://res.cloudinary.com/dvgcwuo68/image/upload/v1709837121/trashbin-removebg-preview_bayvtn.png'].each_with_index do |icon_url, index| %>
      <div class="col-6 d-flex justify-content-center">
        <%= form.radio_button :icon, icon_url, class: "d-none", id: "radio-icon#{index + 3}" %>
        <div class="icon-container" style="display: flex; justify-content: center; align-items: center; border: 2px solid #000; border-radius: 50%; padding: 10px; width: 70px; height: 70px;">
          <%= label_tag "radio-icon#{index + 3}", image_tag(icon_url, alt: "Icon #{index + 4}", style: "cursor:pointer; width: 50px; height: 50px;"), class: "icon-label" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-group mt-3">
    <label for="title" class="mb-0" style="font-size: 18px;"><b>Edit the mission name</b></label>
    <p class="text-muted mb-1">Make it fun!</p>
    <%= form.input :title, label: false, maxlength: 13, placeholder: 'e.g: Garbage!', input_html: { id: 'title' } %>
  </div>

  <div class="form-group mt-3">
    <label for="details" class="mb-0" style="font-size: 18px;"><b>Edit the description</b></label>
    <p class="text-muted mb-1">Optional</p>
    <%= form.input :details, label: false, maxlength: 36, placeholder: 'e.g: Throw away the garbage later!', input_html: { style: 'resize: none;', id: 'details' } %>
  </div>

  <%= form.button :submit, 'Add Mission', class: 'btn btn-primary mt-3' %>
<% end %>
