<!DOCTYPE html>
<html>
  <head>
    <title>Knoty</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex justify-content-center align-items-center bg-dark">
    <!-- App container -->
    <div class="content-box border border-dark">
      <% clear_pages = current_page?('/edit_profile') || current_page?('/users/invitation/new') || current_page?(accept_user_invitation_path) || current_page?(new_love_language_path) %>
      <!-- header -->
      <% unless clear_pages %>
        <%= render "shared/navbar" %>
      <% end %>

      <%= render "shared/flashes" %>

      <!-- Inner App container -->
      <% unless clear_pages %>
      <div class="sub-content-box" >
        <%= yield %>
      </div>
      <% else %>
        <%= yield %>
      <% end %>

      <!-- footer -->
      <% unless clear_pages %>
        <%= render 'shared/footer' %>
      <% end %>
    </div>

  </body>
</html>
