<!DOCTYPE html>
<html>
  <head>
    <title>Knoty</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=El+Messiri:wght@400..700&display=swap" rel="stylesheet">
  </head>

  <body class="d-flex justify-content-center align-items-center bg-dark">
    <!-- App container -->
    <% clear_pages = current_page?('/edit_profile') || current_page?('/users/invitation/new') || current_page?(accept_user_invitation_path) || current_page?(new_love_language_path) %>


    <% if clear_pages %> <!-- Clear pages -->
      <div class="content-box border border-dark bg-clear-page">
        <%= yield %>
      </div>

    <% elsif current_page?(root_path) %>  <!-- Home page -->
      <div class="content-box border border-dark">
        <%= render "shared/navbar", pending_tasks_notif: @pending_tasks_notif %>
        <%= render "shared/flashes" %>
        <div class="sub-content-box" >
          <%= yield %>
        </div>
        <%= render 'shared/footer' %>
      </div>

    <% else %>  <!-- Other pages -->
      <div class="content-box border border-dark" style="background-image: url('https://res.cloudinary.com/dvgcwuo68/image/upload/v1710000877/app-bg2_1_klbkms.png');">
        <%= render "shared/navbar", pending_tasks_notif: @pending_tasks_notif  %>
        <%= render "shared/flashes" %>
        <div class="sub-content-box" >

          <%= yield %>
        </div>

        <%= render 'shared/footer' %>
      </div>

    <% end %>


  </body>
</html>
