<!DOCTYPE html>
<html>
  <head>
    <title>Knoty</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex justify-content-center align-items-center">
    <!-- App container -->
    <div class="content-box border border-dark">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>

      <!-- Inner App container -->
      <div class="sub-content-box" >
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>

  </body>
</html>
